*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;

}
 li:nth-child(4) .menu-item{
  padding-right: 0!important;
}
.first-screen{
  position: absolute;
  width: 1920px;
  height: 48.813em;
  left: 0px;
  top: -1px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/firstScreen.png);
}
.top-line{
  height: 97px;
    left: 0px;
    top: 0px;
}
.nav-logo{
  width: 50px;
  height: 50px;
  margin-top: 24px;
  background: url(../img/Vector.png) no-repeat;
}
.logo-text{
  /* Geoportal */
  width: 190px;
  height: 43px;
  margin-left: 11px;
  margin-top: 22px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 138.27%;
  color: #FFFFFF;
}
.top-line__info{
  height: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */


  color: #FFFFFF;
}
.nav-link:hover{
  color: white;
}
.nav-items{
 align-content: end;
}
.carousel{
  margin-top: 191px;
  overflow: hidden;
}
.carousel-item h2, .carousel-item h3 {
  font-style: normal;
  letter-spacing: .02em;
  color: #fff;
  width: 60%;
}
.carousel-item h3{
  font-family: Lato, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  margin-bottom: 70px;
}
.carousel-item h2 {
  font-family: Open Sans,sans-serif;
  font-weight: bold;
  font-size: 48px;;
  line-height: 160%;
  margin-bottom: 30px;
}
.menu-item a{
  color: white;
}
.carousel-indicators{
  justify-content: end;
  margin-left: 0;
  height: 60.94px;
}
.carousel-control-prev, .carousel-control-next{
  position: relative;
  background-color: hsla(0,0%,100%,.2);
  width: 66.5px;
  height: 69.94px;
}

.carousel-indicators li{
  border-radius: 50%;
  width: 10px;
  height: 11.66px;
  margin-right: 40px;

}
.btn_header{
  border-radius: 0% ;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF!important;
  height: 54.06px;
  left: 375px;
  background: #005FA3;
  padding: .83333rem 1.22222rem;
}
.menu-item{
  height: 17px;
  top: 55px;
  font-family: Lato, sans-serif;
  font-style: normal;
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;

}
body > section > div > div > div > nav > ul > li{
  margin-right: 1.66667rem;
}

.main__data{
  background: #EBEBEB;
  padding-bottom: 185px;
}
.main__data_block:hover{
 /* background: linear-gradient(0deg, rgba(0, 95, 163, 0.1), rgba(0, 95, 163, 0.2)), url("../img/Rectangle2.png");
*/
  filter: saturate(300%);
}
.about_us{
  margin-top: 135px;
  padding-bottom: 135px;
}
.color__primary{
  color: #005FA3;
}
.main__lorem_button1{
  background-color: #005FA3;
  color: white;
}
.main__lorem p{
  padding-top: 20px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 138%;
  /* or 25px */


  color: #FFFFFF;
}
.main__form h3{
  padding-bottom: 84px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 138%;
  /* identical to box height, or 33px */

  text-align: center;

  /* White */

  color: #FFFFFF;
}
.main__form h1{
  padding-top: 74px;
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 144.55%;
  /* identical to box height, or 69px */
  text-align: center;
  /* White */

  color: #FFFFFF;
}
.main__form li{
  margin-bottom: 30px;
}
.main__form form{
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  /* White */

  color: #FFFFFF;
}
.main__form button{
  margin-top:46px;
  padding: 15px 40px;
  background-color: #005FA3;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 138%;
  margin-bottom: 107px;
  /* White */

  color: #FFFFFF;
}
.footer-copyright{
  height: 81px;
}
.main__form svg{
  margin-bottom: 30px;
  width: 40px;
}
.form-control:focus {
  background: none;
  box-shadow: 0 0 0 0.2rem #fff;
}
.form-control{
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background: none;
}
.form__info{

  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 132%;
  /* identical to box height, or 24px */


  color: #FFFFFF;
}
.main__form{
  background-image: url("../img/background__form.png");
  height: 785px;
  margin-top: 134px;
  color: #fff;
}

.text-align-last-center{
  text-align-last: center;
}
.main__lorem h1{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 144.55%;
  /* identical to box height, or 69px */
  padding-bottom: 41px;
  text-align: center;

  color: #FFFFFF;

}
.main__lorem_buttons{
  padding-top:66px;
  padding-bottom: 51px;
  text-align-last: center;
}
.main__lorem_img{
  text-align-last: center;
}
.main__lorem button{
  margin-right:25px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 144.55%;
  width: 225.47px;
  height: 60px;
}
.main__lorem{
  width: 1170px;
  height: 658px;
  background-image: url("../img/main_lorem.png");
}
.main__project__title{
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;

  color: #333333;
  padding-bottom: 53px;
}
.about_us_img1,.about_us_img2,.about_us_img3,.about_us_img4{
  width: 270px;
  height: 270px;
}
.about_us_img1{
  background-image: url("../img/about-us__item.png");
}
.about_us_img2{
  background-image: url("../img/about-us__item2.png");
}
.about_us_img3{
  background-image: url("../img/about-us__item3.png");
}
.about_us_img4{
  background-image: url("../img/about-us__item4.png");
}
.main__project__text{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}
.about_us h2{
  /* h2 */

  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */


  /* #BDBDBD */

  color: #BDBDBD;
}
.main__data_block{
  background-image:url("../img/Rectangle2.png") ;
  width: 350px;
  height: 363px;
  margin-right: 30px;
  cursor: pointer;
}
.main__data p{
  padding-bottom:90px ;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;

  /* #333333 */

  color: #333333;
}
.main__data h2{
  /* h2 */
  padding-top: 136px;

  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  /* #BDBDBD */

  color: #BDBDBD;
}
.main__data__block_text{
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;

  padding-top: 262px;
  text-align: center;
  color: #FFFFFF;
}
.nav-line{
  justify-content: space-between;
  display: flex;
}
@media(max-width: 1020px) {
  .nav-line{
    display: block;
  }
  .carousel-item h2, .carousel-item h3 {
    width: 1000%;
  }
  section ul{
    display: contents!important;
  }
}
@media(max-width: 770px) {
  .top-line{
    height:200px;
  }
  .main__form form{
    font-size: 15px;
    line-height: 2px;
  }
  .main__form h1{
    padding-top: 5px;
  }
  .main__form h3{
    padding-bottom: 5px;
  }
  .main__lorem h1, .main__form h1{
    font-size: 28px;
  }
  .main__lorem img{
    height: 200px;
    width: 200px;
  }
  .main__lorem p{
    font-size: 16px;
  }
}
@media(max-width: 590px) {
  .main__lorem img{
    height: 150px;
    width: 150px;
  }
  .main__lorem p{
    font-size: 15px;
  }
  .main__lorem h1{
    font-size: 25px;
    text-align: left;
  }

  .main__lorem_img{
    text-align-last:auto;
  }
  .main__lorem_buttons{
    display: flex;
    flex-direction: column;
  }
}